<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sample 4</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/assets/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <div class="page-wrapper">
            <!-- header-10 -->
            <header class="header-10">
                <div class="container">
                    <div class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#">RentSafe</a>
                         </div>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <form class="navbar-form pull-left">
                                <a class="btn btn-info" href="#">Buy Now</a>
                            </form>
                        </div>
                    </div>
                </div>
            </header>



            <section class="header-10-sub v-center bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div>
                    <div class="container">
                        <div class="hero-unit">
                            <h1>Renters Insurance</h1>
                            <p>
                                Protect your electronics, jewelry, and valuables, even when
                                <br>they are not located at your apartment.
                            </p>
                        </div>

                             <div class="col-sm-4">
                            <div class="signup-form">
                                <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Zip Code">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-info">Start Quote</button>
                                    </div>
                                </form>
                            </div>
                            <div class="additional-links">
                                By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                            </div>
                            </div>

                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="#"> </a>
            </section>

            <!-- content-7  -->
            <section class="content-7 v-center">
                <div>
                    <div class="container">
                        <h3>Move into your new apartment today</h3>
                        <h6>Complete your renters insurance requirement within minutes</h6>

                        <div class="row v-center">
                            <div class="col-sm-3">
                                <div>
                                    Use our modern platform to quickly buy coverage today.  Full disclosure and transparency.
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-offset-1">
                                    <div class="screen-wrapper">
                                        <div class="screen">
                                            <img src="/assets/images/screen-popup.png" alt="">
                                            <img src="/assets/images/screen.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-offset-2">
                                    <h6>Instant Quote</h6>
                                    We are able to provide you a quote within seconds.  We take out the broker, saving you time and money.
                                    <h6>Trusted by Millions</h6>
                                    We provide the standard form H04 renters insurance backed by same A++ rated reinsurers by top providers.
                                </div>
                            </div>
                        </div>
                        <br>
                        If you're looking for renters insurance, congratulations on your wise decision!  <br> Too many people do not realize that your landlord’s insurance policy does not protect you or
                        <br>your personal belongings.  Provide coverage for yourself, affordably.
                </div>
                    </div>

            </section>

            <!-- content-23  -->
            <section class="content-23 v-center bg-midnight-blue custom-bg">
                <div>
                    <div class="container">
                        <div class="hero-unit hero-unit-bordered">
                            <h1>Own peace of mind with renters insurance.</h1>
                        </div>
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="#"> </a>
            </section>

            <!-- content-8  -->
            <section class="content-8 v-center">
                <div>
                    <div class="container">
                        <img src="/assets/images/img-1@2x.png" width="397" height="193" alt="">

                        <h3>Get coverage beyond your personal property</h3>

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <p>Get financial protection if someone is accidentally injured.  Receive additional living allowance if your apartment is damaged and becomes uninhabitable.
                                </p>

                                          <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Zip Code">
                                    </div>

                                    <div class="form-group">
                                        <a class="btn btn-large btn-clear" class="btn btn-block btn-info">Start Quote</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-23  -->
            <section class="content-23  v-center bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div>
                    <div class="container">
                        <div class="hero-unit">
                            <h1>Get a Renter's Policy
                            <br class="hidden-phone">
                            for Under a $1 a Day</h1>
                        </div>
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="#"> </a>
            </section>

            <!-- content-8  -->
            <section class="content-8 v-center">
                <div>
                    <div class="container">
                        <img width="380" height="187" alt="" src="/assets/images/ticket-red@2x.png"/>
                        <h3>Chat with a Bonjoy Rep today</h3>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <p>
                                    We provide round-the-clock chat, sms, and email support to fit with your modern needs.  Claims process and customer support are now stress free.
                                </p>
      <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Zip Code">
                                    </div>

                                    <div class="form-group">
                                        <a class="btn btn-large btn-clear" class="btn btn-block btn-info">TRY IT NOW</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-11  -->
            <section class="content-11">
                <div class="container">
                    <span>One Perfect Coverage</span>
                    <br>
                    <a class="btn btn-large btn-danger" href="#">TRY IT NOW</a>
                </div>
            </section>

            <!-- footer-3 -->
            <footer class="footer-3">
                <div class="container">
                    <div class="row v-center">
                        <div class="col-sm-2">
                            <a class="brand" href="#">RentSafe</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="additional-links">
                                Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6>San Francisco, CA</h6>
                            <div class="address">
                                1920 Sacramento Street<br>San Francisco, CA 94109
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/assets/js/modernizr.custom.js"></script>
        <script src="/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="/assets/js/jquery.parallax.min.js"></script>
        <script src="/assets/js/startup-kit.js"></script>
        <script src="/assets/js/jquery.backgroundvideo.min.js"></script>
        <script src="/assets/js/script.js"></script>
    </body>
</html>
