<!DOCTYPE html>
<html>
  <head>
  	{% block head %}
    <meta charset="utf-8">
    <title>RentSafe</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/flat-ui.css">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="/assets/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="assets/js/libraries/ga.js"></script>
    <script src="assets/js/libraries/mixpanel.js"></script>
    <script>
        mixpanel.init("{{ apis.mixpanel_token}}");

        ga('create', '{{ apis.ga_token }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endblock %}
  </head>
  <body>
  {% include 'partials/header.html' %}
  {% block body %}
  {% endblock %}
  {% include 'partials/footer.html' %}
  </body>
</html>
